@import "tailwindcss";

@layer base {
  body {
    background-color: #000;
    color: #fff;
    -webkit-font-smoothing: antialiased;
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
